{% extends "praip/wrapper.html" %}

{% block content %}

     <h1>login</h1>
    <form method="POST" action="/login/" class="login-form">{% csrf_token %}
         <input id="login" type="text" name="login" >
         <input id="passwd" type="password" name="passwd" value="{{ current_name }}">
        <button type="submit" class="save btn btn-default">login</button>
    </form>
{% endblock  %}