{% extends "praip/wrapper.html" %}

{% block content %}
    {% for post in object_list %}
        <div>
            <h4><a href="posts/{{post.id}}"></a></h4>
            <h5><a href="{{ post.urls }}">{{ post.urls}}</a></h5>
            <p>{{ post.date }}</p>
        </div>
    {% endfor %}
{% endblock  %}