{% extends "praip/wrapper.html" %}

{% block content %}
    <div> Смотри что могу!</div>
    <form method="POST" action="/postvk/" class="post-form">{% csrf_token %}
        <input id="group" type="text" name="group" >
        <input id="message" type="text" name="message" >
        <button type="submit" class="save btn btn-default">POST</button>
    </form>
{% endblock  %}