{% extends "praip/wrapper.html" %}

{% block content %}
    <div> Смотри что могу!</div>
    <form action="" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form }}
        <input type="submit" name="submit" value="Submit">
    </form>
{% endblock  %}